.logo {
    font-family: $fontLogo;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: flex;
    color: var(--main-blue);
    text-decoration: none;
    &--footer-mobile {
        justify-content: center;
    }
    &__header {
        color: var(--main-black);
    }
    &__footer {
        color: var(--main-white);
    }
}

@media screen and (min-width: $desktop) {
    .logo {
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
}
